body {
    background-image: url(rozy-belye-tsvety-fon-rozovye.jpg);;
    background-repeat: repeat-x;       
}
h1 {
    
    border-radius: 50px;
    text-align: center;
    width: 600px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
}
.osn {
    
    width: 600px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
}
.stih {
    margin-top: 200px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display:flex;
    justify-content: center;
}
.text {
    margin-left: 50px;
    margin-right: 50px;
    display:flex;
    flex-direction: column;
}
.vso { 
    margin-left: 30px;
    display: flex;
    flex-direction: row;

}